<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Posting Up</title>
	<link rel="stylesheet" href="/styles/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri|Lora|Puritan" rel="stylesheet">
	<link rel="stylesheet" href="/styles/font-awesome.min.css">
	<link rel="stylesheet" href="./node_modules/pikaday/css/pikaday.css">
	<link rel="stylesheet" href="./node_modules/pikaday/css/triangle.css">
</head>
<body>
	<div id="app">
		<section id=main>
			<section id="side-stage" data-arrange="pinned" ref="side-stage" :class="{searching: searchActive}">
				<div id="search-wrapper">
					<i class="fa" :class="{'fa-search': !searchActive, 'fa-times-circle': searchActive}" @click="handleSearchIcon"></i>&nbsp;
					<input @keyup="searchInput" @click="activateSearch" :class="{'searching': searchActive}" v-model='searchText' type="text" @blur="deactivateSearchOnNone" ref='search-input'>
				</div>
				<div id="contact-list">
					<a-contact
					v-for="contact in contacts"
					:contact="contact"
					:key="contact.id"
					:contactid="selectedContactId"
					@delete-this="deleteItem"
					@select-this="selectItem">
					</a-contact>
				</div>
				<div @click="newItem" class="create">
					<i class="fa fa-plus-circle"></i> Create
				</div>
			</section>
			<section id="main-stage" data-arrange="partial" ref="main-stage">
				<div id="no-results" ref="no-results">
					<span>Nada. Nothing. Zilch.</span>
				</div>
				<div @click="toggleSidePeak" v-if="compactState" id="side-toggler" data-arrange="open-potential" ref="side-toggler">
					<i v-if="(!sidePeaking)" class="fa fa-bars"></i>
					<i v-if="(sidePeaking)" class="fa fa-times"></i>
				</div>
				<selected-contact
				:contact="selectedContact"
				:contactid="selectedContactId"
				:currentzipcode="selectedContactZipCode"
				@edit-this="editItem"
				@delete-this="deleteItem">
				</selected-contact>
				<div id="map" ref="map"></div>
			</section>
			<section  id="operation-stage" :class="{active: operationPanelActive}">
				<contact-operation
				v-if="operationPanelActive"
				:usermodel="userModel"
				:newstate="newState"
				@place-file="placeFile"
				@update-this="updateItem"
				@place-date="placeDate"
				@create-this="createItem"
				@toggle-operate="toggleOperationPanel">
				</contact-operation>
			</section>
		</section>
		<!-- <button @click="sortContacts"></button> -->
	</div>
	
	<!-- **** A-CONTACT **** -->
	<script type="text/x-template" id="a-contact">
		<div class='a-contact' :class="{active: isActive}" @click="selectThis">
			<div class="contact-picture" :style="{'background-image': imageUrl}"></div>
			<div class='fullname'>{{contact.first_name}} {{contact.last_name}}</div>

			<div class="delete-this" @click="deleteThis">+</div>

			<!-- <small>{{contact.zip_code}}</small> | <span @click="deleteThis">Delete</span> -->

		</div>
	</script>

	<!-- **** SELECTED-CONTACT **** -->
	<script type="text/x-template" id="selected-contact">
		<div class="selected-contact-wrapper">
			<div class="current-contact" v-if="contactid !== undefined && contactid !== NaN">
				<div class="image-wrapper" :style="{'background-image': imageUrl}"></div>
				<div class="gradient"></div>
				<div class="contact-info">
					<div class="name">{{contact.first_name}} {{contact.last_name}}</div>
					<div class="personal-info">
						<!-- {{contact.zip_code}} - -->
						<i class="fa fa-globe"></i> {{currentzipcode}}
						&nbsp;&nbsp;&nbsp;
						<i class="fa fa-phone"></i> {{contact.phone_number}}
						&nbsp;&nbsp;&nbsp;
						<i v-if="contact.dob !== ''" class="fa fa-birthday-cake"></i> {{humanDate}}
					</div>
					<div class="contact-buttons">
						<div @click="editThis" class="edit"><i class="fa fa-pencil"></i> Edit</div>
						<div @click="deleteThis" class="delete"><i class="fa fa-times"></i> Delete</div>
					</div>
				</div>
			</div>
		<br>
		
		</div>
	</script>

	<!-- **** CONTACT-OPERATION **** -->
	<script type="text/x-template" id="contact-operation">
		<div id="contact-operation">
			<div class="title">
				<span v-if="newstate">Create</span>
				<span v-else>Edit <small>{{usermodel.firstName}} {{usermodel.lastName}}</small></span>
			</div>
			<div class="file-upload-wrapper">
				<div v-if="(image || usermodel.imageUrl)" @click="triggerFileDialog" class="preview-upload" :style="{'background-image': imageUrl}"></div>
				<input type="file" accept="image/*" ref='file-upload' @change="onFileChange">
			</div>
			<div class="name-inputs">
				<input id="operate-first-name" type="text" v-model="usermodel.firstName" class='first-name' placeholder="first name"><br><br>
				<input type="text" v-model="usermodel.lastName" class='last-name' placeholder="last name"><br>
			</div>
			<div class="info-part-2">
				<input type="text" v-model="usermodel.phoneNumber" class='phone-number' placeholder="phone number"><br><br>
				<input type="text" v-model="usermodel.zipCode" class='zip-code' placeholder="zip code" maxlength="5">
			</div>
			
			<!-- <input type="text" v-model="usermodel.dob" class='dob' placeholder="date of birth" size=10 maxlength=10  onkeyup="this.value=this.value.replace(/^(\d\d)(\d)$/g,'$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g,'$1/$2').replace(/[^\d\/]/g,'')"> -->
			<input type="text" class='dob' placeholder="date of birth" ref='actual-dob' :value="humanDate">
			<input type="text" class='dob-picker' ref='dob-picker'>

			<div id="operation-button-wrapper">
				<button v-if="newstate" @click="createThis">Create</button>
				<button v-else @click="updateThis">Update</button>
			</div>
			<div @click="cancelOperate">Cancel</div>
		</div>
	</script>


	<!-- <script src="https://unpkg.com/vue"></script> -->
	<script src="./vue.js"></script>
	<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script src="./axios.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOxVt-CBu7UMbdl6mcbS9M7jg5yUd1twA"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="./node_modules/moment/moment.js"></script>
	<script src="./node_modules/pikaday/pikaday.js"></script>
	<script src="./app.js"></script>
</body>
</html>