<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LIAISON | Contact Cloud</title>
	<link rel="stylesheet" href="/styles/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri|Lora|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="/styles/font-awesome.min.css">
	<link rel="stylesheet" href="./node_modules/pikaday/css/pikaday.css">
	<link rel="stylesheet" href="./node_modules/pikaday/css/triangle.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="loading">
		<div class="circle"></div>
		<div class="title">LIAISON</div>
	</div>
	<div id="app">
		<section id=main>
			<section id="side-stage" data-arrange="pinned" ref="side-stage" :class="{searching: searchActive}">
				<div id="search-wrapper" :class="{searching: searchActive}">
					<i class="fa" :class="{'fa-search': !searchActive, 'fa-times-circle': searchActive}" @click="handleSearchIcon"></i>&nbsp;
					<input @keyup="searchInput" @click="activateSearch" :class="{'searching': searchActive}" v-model='searchText' type="text" @blur="deactivateSearchOnNone" ref='search-input'>
				</div>
				<div id="contact-list">
					<a-contact
					v-for="contact in contacts"
					:contact="contact"
					:key="contact.id"
					:contactid="selectedContactId"
					@delete-this="deleteItem"
					@select-this="selectItem"
					@toggle-side-peak="toggleSidePeak">
					</a-contact>
				</div>
				<div id="top-fade" :class="{searching: searchActive}"></div>
				<div id="bottom-fade" :class="{searching: searchActive}"></div>
				<div @click="newItem" class="create">
					<i class="fa fa-plus-circle"></i> Create
				</div>
			</section>
			<section id="main-stage" data-arrange="partial" ref="main-stage">
				<div id="no-results" ref="no-results">
					<span>Nada. Nothing. Zilch.</span>
				</div>
				<div @click="toggleSidePeak" v-if="compactState" id="side-toggler" data-arrange="open-potential" ref="side-toggler">
					<i v-if="(!sidePeaking)" class="fa fa-bars"></i>
					<i v-if="(sidePeaking)" class="fa fa-times"></i>
				</div>
				<selected-contact
				v-if="(contacts.length !== 0)"
				:contact="selectedContact"
				:contactid="selectedContactId"
				:currentzipcode="selectedContactZipCode"
				@edit-this="editItem"
				@delete-this="deleteItem">
				</selected-contact>
				<div id="map" ref="map"></div>
				<div id="overlay" @click="toggleSidePeak" :class="{active: sidePeaking}"></div>
			</section>
			<section  id="operation-stage" :class="{active: operationPanelActive}">
				<contact-operation
				v-if="operationPanelActive"
				:usermodel="userModel"
				:newstate="newState"
				@place-file="placeFile"
				@update-this="updateItem"
				@place-date="placeDate"
				@create-this="createItem"
				@toggle-operate="toggleOperationPanel">
				</contact-operation>
			</section>
		</section>
		<!-- <button @click="sortContacts"></button> -->
	</div>
	
	<!-- **** A-CONTACT **** -->
	<script type="text/x-template" id="a-contact">
		<div class='a-contact' :class="{active: isActive}" @click="selectThis">
			<div class="contact-picture" :style="{'background-image': imageUrl}"></div>
			<div class='fullname'>{{contact.first_name}} {{contact.last_name}}</div>

			<div class="delete-this" @click="deleteThis">+</div>

			<!-- <small>{{contact.zip_code}}</small> | <span @click="deleteThis">Delete</span> -->

		</div>
	</script>

	<!-- **** SELECTED-CONTACT **** -->
	<script type="text/x-template" id="selected-contact">
		<div class="selected-contact-wrapper">
			<div class="current-contact" v-if="contactid !== undefined && contactid !== NaN">
				<div class="image-wrapper" :style="{'background-image': imageUrl}"></div>
				<div class="gradient"></div>
				<div class="contact-info">
					<div class="name">{{contact.first_name}} {{contact.last_name}} <span v-if="(contact.dob !== null)" class="birthday-secondary">&nbsp;&nbsp;&nbsp;<i class="fa fa-birthday-cake"></i> {{humanDate}}</span></div>
					<div class="personal-info">
						<!-- {{contact.zip_code}} - -->
						<i class="fa fa-globe" v-if="(currentzipcode !== '')"></i> {{currentzipcode}}
						<span v-if="(currentzipcode !== '')" class="spaces-no-mobile">&nbsp;&nbsp;&nbsp;</span><br class="mobile">
						<i class="fa fa-phone" v-if="(contact.phone_number !== '')"></i> {{contact.phone_number}}<br class="mobile">
						<span v-if="(contact.dob !== null)" class="birthday-primary"><span class="spaces-no-mobile">&nbsp;&nbsp;&nbsp;</span><i class="fa fa-birthday-cake"></i> {{humanDate}}</span>
					</div>
					<div class="contact-buttons">
						<div @click="editThis" class="edit"><i class="fa fa-pencil"></i> <span class='no-mobile'>Edit</span></div>
						<div @click="deleteThis" class="delete"><i class="fa fa-times"></i> <span class='no-mobile'>Delete</span></div>
					</div>
				</div>
			</div>
		<br>
		
		</div>
	</script>

	<!-- **** CONTACT-OPERATION **** -->
	<script type="text/x-template" id="contact-operation">
		<div id="contact-operation">
			<div class="title">
				<span v-if="newstate">Create Contact</span>
				<span v-else>Edit <small>{{usermodel.firstName}} {{usermodel.lastName}}</small></span>
			</div>

			<div class="file-upload-wrapper">
				<div class="inner-wrapper" @click="triggerFileDialog">
					<span class="placeholder"><i class="fa fa-upload"></i> Click To Upload Image</span>
					<div v-if="(image || usermodel.imageUrl)" @click="triggerFileDialog" class="preview-upload" :style="{'background-image': imageUrl}"></div>
				</div>
				<input type="file" accept="image/*" ref='file-upload' @change="onFileChange">
			</div>

			<div class="name-inputs input-containers">
				<input id="operate-first-name" type="text" v-model="usermodel.firstName" class='first-name' placeholder="first name">
				<input type="text" v-model="usermodel.lastName" class='last-name' placeholder="last name">
			</div>
			<div class="info-part-2 input-containers">
				<input type="text" v-model="usermodel.phoneNumber" maxlength="22" @keyup="handlePhoneNumber" class='phone-number' placeholder="phone number">
				<input type="text" v-model="usermodel.zipCode" @keyup="handleZipCode" class='zip-code' placeholder="zip code" maxlength="5">
			</div>
			<div class="date-inputs">
				<input type="text" class='dob' placeholder="date of birth" ref='actual-dob' :value="humanDate">
				<input type="text" class='dob-picker' ref='dob-picker'>
			</div>

			<div id="operation-button-wrapper">
				<button @click="cancelOperate"><i class="fa fa-times"></i> Cancel</button>
				<button v-if="newstate" @click="createThis"><i class="fa fa-check"></i> Create</button>
				<button v-else @click="updateThis">Update</button>
			</div>
		</div>
	</script>


	<!-- <script src="https://unpkg.com/vue"></script> -->
	<script src="./vue.min.js"></script>
	<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script src="./axios.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOxVt-CBu7UMbdl6mcbS9M7jg5yUd1twA"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="./node_modules/moment/moment.js"></script>
	<script src="./node_modules/pikaday/pikaday.js"></script>
	<script src="./app.js"></script>
</body>
</html>