html, body
	margin: 0
	padding: 0
	height: 100%

body
	box-sizing:  border-box
	overflow: hidden
	font-family: 'Amiri', serif

$head-height: 0
$top-image-height: 50%
$side-stage-width: 255px
$main-panel-bg: rgba(227,227,227,1)
$side-panel-bg: rgba(252,252,252,1)

#app
	height: 100%

@keyframes intro-loading
	0%
		border-radius: 0%
		border: 4px rgba(80,80,80,0.9) solid
	100%
		border-radius: 50%
		border: 4px rgba(170,130,30,0.9) solid

@keyframes intro-just-color
	0%
		color: rgba(80,80,80,0.9)
	100%
		color: rgba(170,130,30,0.9)

@keyframes fade-out
	0%
		// opacity: 1
		height: inherit
	100%
		// opacity: 0
		height: 0

#loading
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(225,225,225,1)
	z-index: 120000
	overflow: hidden
	opacity: 1
	&.remove
		opacity: 0
		transition: all 400ms linear
	.circle
		position: absolute
		width: 140px
		height: 140px
		border-radius: 50%
		top: 45%
		transform: translateY(-50%)
		left: 0
		right: 0
		margin: 0px auto
		border: 4px rgba(170,130,30,0.9) solid
		// color: rgba(170,130,30,0.9)
		// animation-name: intro-loading
		// animation-duration: 5s
	.title
		position: absolute
		top: 60%
		left: 0
		right: 0
		margin: 0px auto
		font-family: "Amiri"
		font-size: 28px
		letter-spacing: 4px
		text-align: center
		color: rgba(170,130,30,0.9)
		// animation-name: intro-just-color
		// animation-duration: 5s

section#main
	// border: 1px blue solid
	height: 100%
	position: absolute
	top: $head-height
	bottom: 0
	left: 0
	right: 0

#side-stage
	position: absolute
	top: 0
	bottom: 0
	width: $side-stage-width
	height: 100%
	background-color: $side-panel-bg
	z-index: 2000
	&.searching
		background-color: darken($side-panel-bg, 9%)
		transition: background-color 150ms linear
	&[data-arrange="pinned"]
		left: 0
		// box-shadow: inset -9px 0px 13px -6px rgba(66,66,66,0.5)
		transition: left 150ms linear, background-color 150ms linear
		// &:before
		// 	position: absolute
		// 	top: 0
		// 	right: 0
		// 	bottom: 0
		// 	left: 0
		// 	pointer-events: none
		// 	box-shadow: inset -9px 0px 13px -6px rgba(66,66,66,0.5)
	&[data-arrange="hiding"]
		left: -$side-stage-width
		transition: left 150ms linear
	&[data-arrange="peaking"]
		left: 0
		transition: left 150ms linear
		box-shadow: 6px 2px 8px -1px rgba(0,0,0,0.75)
		// border-right: 3px black solid
		background-color: transparentize($side-panel-bg, 0.02)
	#search-wrapper
		width: 90%
		height: 35px
		top: 8px
		left: 0
		right: 0
		margin: 0px auto
		position: absolute
		background-color: $side-panel-bg
		transition: background-color 150ms linear
		&.searching
			background-color: darken($side-panel-bg, 9%)
			transition: background-color 150ms linear
		i
			color: rgba(70,70,70,0.7)
			cursor: pointer
		&.fa-times-circle
			color: rgba(70,70,70,0.9)
		input
			border: none
			background-color: transparent
			border-bottom: 2px rgba(90,90,90,0.55) solid
			outline: none
			font-size: 18px
			width: 85%
			&.searching
				border-bottom: 2px rgba(90,90,90,0.83) solid
	#top-fade
		display: none
		position: absolute
		top: 50px
		width: 100%
		height: 20px
		// box-shadow: inset -9px 0px 13px -6px rgba(66,66,66,0.5)
		background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(125,185,232,0) 100%)
		transition: background 140ms linear
		&.searching
			background: linear-gradient(to bottom, darken(rgba(252,252,252,1), 9%) 0%,rgba(125,185,232,0) 100%)
			transition: background 140ms linear
	#bottom-fade
		position: absolute
		bottom: 60px
		height: 30px
		width: 100%
		background: linear-gradient(to bottom, rgba(125,185,232,0) 0%, rgba(252,252,252,1) 100%)
		transition: background 140ms linear
		&.searching
			background: linear-gradient(to bottom, rgba(125,185,232,0) 0%, darken(rgba(252,252,252,1), 9%) 100%)
			transition: background 140ms linear
	#contact-list
		box-sizing: border-box
		// border: 1px red solid
		position: absolute
		top: 50px
		left: 0
		width: 100%
		bottom: 60px
		overflow-y: scroll
		padding-bottom: 40px
		&:after
			content: ""
			display: block
			height: 30px
			width: 100%
		&:before
			content: ""
			display: block
			height: 20px
			width: 100%
		.a-contact
			width: 100%
			height: 32px
			border-bottom: 1px rgba(90,90,90,0.4) solid
			position: relative
			cursor: pointer
			// box-shadow: inset 10px 0px 10px -6px lighten(rgba(32, 98, 204, 0), 10%)
			transition: box-shadow 400ms linear
			box-sizing: border-box
			border-left: 3px transparent solid
			&:nth-child(1)
				border-top: 1px rgba(90,90,91,0.4) solid
				border-bottom: 1px rgba(90,90,90,0.4) solid
			&:hover
				// box-shadow: inset 10px 0px 10px -6px lighten(rgba(32, 98, 204, 0.5), 10%)
				// transition: box-shadow 50ms linear
				border-left: 3px #c1981c solid
				background-color: rgba(255,255,255,0.7)
			&.active
				// box-shadow: inset 10px 0px 10px -8px lighten(rgba(32, 98, 204, 0.8), 10%)
				transition: box-shadow 400ms linear
				background-color: rgba(255,255,255,1)
				border-left: 4px #c1981c solid
			.fullname
				position: absolute
				top: 50%
				right: 50px
				transform: translateY(-50%)
				// border: 1px blue solid
				text-align: right
				font-size: 17px
				color: rgba(0,0,0,0.7)
				transition: color 80ms linear
			&.hover .fullname
				color: rgba(0,0,0,0.9)
				transition: color 80ms linear
			&.active .fullname
				color: rgba(0,0,0,0.95)
				transition: color 80ms linear
			.contact-picture
				background-size: cover
				background-repeat: no-repeat
				position: absolute
				width: 32px
				height: 100%
				top: 50%
				right: 0px
				transform: translateY(-50%)
				border-top-left-radius: 50%
				border-bottom-left-radius: 50%
				// border: 2px rgba(10,10,10,0.6) solid
				opacity: 0.58
				transition: all 100ms linear
			&.hover .contact-picture
				opacity: 0.9
				transition: all 100ms linear
			&.active .contact-picture
				opacity: 1
				transition: all 100ms linear
			.delete-this
				position: absolute
				font-family: sans-serif
				width: 12px
				height: 12px
				padding: 3px
				top: 50%
				left: 13px
				transform: translateY(-50%) rotateZ(45deg)
				// border: 1px blue solid
				line-height: 10px
				// font-weight: bold
				transition: all 200ms linear
				color: rgba(0,0,0,0.3)
				&:hover
					color: rgba(215,0,0,0.9)
					transition: all 200ms linear
	.create
		border: none
		// border-radius: 4px
		width: 90%
		position: absolute
		left: 0
		right: 0
		bottom: 9px
		height: 40px
		margin: 0px auto
		text-align: center
		font-size: 21px
		color: rgba(40,40,40,0.7)
		line-height: 42px
		cursor: pointer
		transition: all 80ms linear
		&:hover
			// background-color: rgba(160,200,160,0.4)
			transition: all 80ms linear
			color: rgba(20,20,20,0.95)

#main-stage
	position: absolute
	top: 0
	right: 0
	height: 100%
	bottom: 0
	box-sizing: border-box
	background-color: $main-panel-bg
	transition: left 300ms linear
	&[data-arrange="partial"]
		left: $side-stage-width
		transition: left 300ms linear
	&[data-arrange="full"]
		left: 0
		transition: left 300ms linear
	#no-results
		display: none
		&.active
			display: block
			background-color: $main-panel-bg
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 3000
			text-align: center
			span
				display: block
				position: relative
				top: 50%
				transform: translateY(-50%)
				font-family: "Amiri"
				font-size: 22px
	#side-toggler
		position: absolute
		z-index: 5000
		font-size: 25px
		color: white
		direction: rtl
		line-height: 40px
		transition: all 85ms linear
		cursor: pointer
		&[data-arrange="open-potential"]
			// background-color: transparentize($main-panel-bg, 0.2)
			background-color: transparent
			top: 10px
			left: 0px
			width: 50px
			height: 35px
			// border-top-right-radius: 10px
			// border-bottom-right-radius: 10px
			// border-bottom-left-radius: 0px
			// border: 2px white solid
			border-left: none
			transition: all 50 linear
			padding-right: 9px
		&[data-arrange="close-potential"]
			// background-color: transparentize($side-panel-bg, 0.3)
			background-color: transparent
			// border: 2px white solid
			// border-top: none
			font-size: 19px
			top: 0px
			left: 260px
			width: 35px
			height: 35px
			padding-right: 13px
			border-top-right-radius: 0px
			border-bottom-right-radius: 10px
			border-bottom-left-radius: 10px
			transition: all 50 linear
			display: none
	#map
		position: absolute
		width: 100%
		height: 35%
		bottom: 0
		left: 0
		// border: 1px blue solid
	#overlay
		position: absolute
		top: 0
		right: 0
		bottom: 100%
		left: 0
		transition: background-color 100ms linear
		&.active
			bottom: 0
			background-color: rgba(0,0,0,0.23)
			transition: background-color 100ms linear
	.selected-contact-wrapper
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		.current-contact
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			.image-wrapper
				position: absolute
				width: 100%
				top: 0
				height: $top-image-height
				// border: 1px red solid
				background-repeat: no-repeat
				background-size: cover
				background-position: 50%
			.gradient
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: $top-image-height
				// border: 1px red solid
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(227,227,227,1) 100%)
			.contact-info
				position: absolute
				top: 45%
				left: 20px
				right: 0
				.name
					position: absolute
					top: 0
					font-size: 40px
					color: rgba(30, 30, 30, 1)
					.birthday-secondary
						display: none
				.personal-info
					position: absolute
					top: 55px
					font-size: 24px
					color: rgba(70,70,70,1)
					br.mobile
						display: none
				.contact-buttons
					position: absolute
					top: 45px
					right: 25px
					width: 250px
					font-size: 17px
					// border: 1px red solid
					& > div
						display: inline-block
						width: 120px
						height: 37px
						border: 2px rgba(30,30,30,0.4) solid
						border-radius: 3px
						text-align: center
						line-height: 39px
						cursor: pointer
						transition: all 90ms linear
						color: rgba(40,40,40,0.6)
						box-sizing: border-box
						&:hover
							transition: all 90ms linear
							color: rgba(40,40,40,0.9)
						&.edit:hover
							background-color: rgba(130,130,130,0.2)
						&.delete:hover
							color: white
							background-color: rgba(150,0,0,0.5)
							border: 2px rgba(100,0,0,0.25) solid
			@media screen and (max-width: 1310px)
				.contact-info
					.name
						font-size: 36px
						.birthday-secondary
							display: inline
							font-size: 22px
							position: relative
							top: -2px
							color: rgba(70,70,70,1)
					.personal-info
						// border: 1px red solid
						font-size: 22px
						.birthday-primary
							display: none
			@media screen and (max-width: 1100px)
				.contact-info
					.contact-buttons
						direction: rtl
						top: 8px
						& > div
							display: block
							margin-bottom: 4px
			@media screen and (max-width: 650px)
				.contact-info
					top: 40%
					.name
						.birthday-secondary
							display: none
					.personal-info
						line-height: 30px
						font-size: 20px
						br.mobile
							display: block
						.birthday-primary
							display: inline
						span.spaces-no-mobile
							display: none
					.contact-buttons
						top: 63px
			@media screen and (max-width: 420px)
				.contact-info
					.contact-buttons
						.no-mobile
							display: none
						& > div
							width: 50px
			@media screen and (max-height: 620px)
				.contact-info
					top: 35%

#operation-stage
	position: absolute
	top: -10px
	bottom: 100%
	left: 0px
	right: 0px
	background-color: rgba(25,25,25,0.9)
	border-bottom: 8px #c1981c solid
	box-sizing: border-box
	overflow: hidden
	transition: all 150ms linear
	z-index: 5000
	padding: 0px 8px
	&.active
		top: 0px
		bottom: 0%
		transition: all 150ms linear
	#contact-operation
		text-align: center
		color: white
		.title
			margin-top: 8px
			font-size: 22px
			margin-bottom: 40px
			font-family: "Raleway"
			font-weight: lighter
		.file-upload-wrapper
			position: relative
			width: 350px
			height: 100px
			margin: 5px auto 30px
			border: 2px rgba(20,20,20,0.7) dashed
			padding: 20px 10px
			cursor: pointer
			transition: all 270ms linear
			&:hover
				border: 2px rgba(180,180,180,0.9) dashed
				transition: all 270ms linear
				&:hover .inner-wrapper span.placeholder
					color: rgba(210,210,210,0.95)
					transition: all 200ms linear
			.inner-wrapper
				position: absolute
				top: 10px
				left: 10px
				right: 10px
				bottom: 10px
				background-color: rgba(20,20,20,1)
				overflow: hidden
				span.placeholder
					display: block
					// border: 2px rgba(70,70,70,0.7) solid
					padding: 5px
					position: absolute
					left: 0
					right: 0
					margin: 0px auto
					color: rgba(160,160,160,0.9)
					transition: all 200ms linear
					top: 50%
					transform: translateY(-50%)
					width: 200px
					border-radius: 5px
				.preview-upload
					position: absolute
					top: 0px
					left: 0px
					right: 0px
					bottom: 0px
					background-repeat: no-repeat
					background-size: cover
					background-position: center
					z-index: 200
			input[type="file"]
				z-index: 300
				margin-top: 40px
				font-size: 3px
		input[type="text"]
			outline: none
			transition: all 150ms linear
			color: rgba(150,150,150,0.9)
			border: none
			border-bottom: 1px rgba(120,120,120,1) solid
			font-size: 21px
			background-color: rgba(0,0,0,0)
			&:hover
				border-bottom: 1px rgba(180,180,180,1) solid
				transition: all 150ms linear
			&:active, &:focus
				border-bottom: 1px rgba(230,230,230,1) solid
				transition: all 150ms linear
		.input-containers
			margin-bottom: 45px
			input[type="text"]
				width: 220px
				&:nth-child(1)
					margin-right: 6px
				&:nth-child(2)
					margin-left: 6px
		.date-inputs
			text-align: center
			input
				position: absolute
				margin: 0px auto
				width: 190px
				left: 0
				right: 0
				&.dob-picker
					display: none
		#operation-button-wrapper
			margin-top: 110px
			button
				cursor: pointer
				width: 140px
				height: 45px
				border: none
				background-color: rgba(70,70,70,0.3)
				color: rgba(210,210,210,0.8)
				font-size: 17px
				font-family: "Raleway"
				transition: all 90ms linear
				&:hover
					background-color: rgba(170,170,170,0.6)
					color: rgba(255,255,255,0.96)
					transition: all 90ms linear
				&:nth-child(1)
					margin-right: 10px
					background-color: rgba(170,100,100,0.6)
				&:nth-child(2)
					margin-left: 10px
					background-color: rgba(100,170,100,0.6)
		@media screen and (max-width: 520px)
			input[type="text"]
				font-size: 17px
			.input-containers
				margin-bottom: 33px
				input[type="text"]
					width: 160px
			.file-upload-wrapper
				width: 300px
				height: 80px
		@media screen and (max-width: 365px)
			input[type="text"]
				font-size: 16px
			.input-containers
				margin-bottom: 33px
				input[type="text"]
					width: 130px
			.file-upload-wrapper
				width: 250px
				height: 75px
			#operation-button-wrapper
				margin-top: 100px
				button
					width: 100px










